In [32]:
import pandas as pd

In [33]:
df_data = pd.read_csv('data/database_csvs/data.csv', encoding='ISO-8859-1')
df_stats = pd.read_csv('data/database_csvs/data_stats.csv')
df_stats.rename(columns={"Column": "column_name", "TableName": "table_name"}, inplace=True)

In [34]:
df_data.head()

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,full_data_type,data_type,character_maximum_length,...,identity_minimum,identity_cycle,is_generated,generation_expression,is_system_time_period_start,is_system_time_period_end,system_time_period_timestamp_generation,is_updatable,partition_index,comment
0,domgen_prod,analysis_sandbox,20240819_wp_mid_email_after_dedupe,PersonGoldenCopyID,0,NaN,YES,bigint,LONG,NaN,...,NaN,NaN,NO,NaN,NO,NO,NaN,YES,NaN,NaN
1,domgen_prod,analysis_sandbox,20240819_wp_mid_email_after_dedupe,PersonDimensionID,1,NaN,YES,bigint,LONG,NaN,...,NaN,NaN,NO,NaN,NO,NO,NaN,YES,NaN,NaN
2,domgen_prod,analysis_sandbox,20240819_wp_mid_email_end,PERSONGOLDENCOPYID,0,NaN,YES,bigint,LONG,NaN,...,NaN,NaN,NO,NaN,NO,NO,NaN,YES,NaN,NaN
3,domgen_prod,analysis_sandbox,20240819_wp_mid_email_end,PERSONDIMENSIONID,1,NaN,YES,bigint,LONG,NaN,...,NaN,NaN,NO,NaN,NO,NO,NaN,YES,NaN,NaN
4,domgen_prod,analysis_sandbox,ac_dm_clm_reporting,offer_month,0,NaN,YES,date,DATE,NaN,...,NaN,NaN,NO,NaN,NO,NO,NaN,YES,NaN,NaN

In [38]:
df_stats.head()

,table_name,column_name,count,mean,stddev,min,max
0,domgen_prod.bronze_orbit.service_provider,ServiceProviderID,580,1734.358621,483.214820,1062,2320
1,domgen_prod.bronze_orbit.service_provider,AddressLookupID,580,0.977586,0.323807,0,3
2,domgen_prod.bronze_orbit.service_provider,CompanyName,580,NaN,NaN,CompanyName,CompanyName
3,domgen_prod.bronze_orbit.service_provider,Acronym,580,NaN,NaN,** PRODUCT REPLACEMENT **,vaillant
4,domgen_prod.bronze_orbit.service_provider,BuildingNameNumber,216,75.000000,124.707658,BuildingNameNumber,BuildingNameNumber

In [36]:
matching_keys = set(df_data['table_name']).intersection(set(df_stats['table_name']))
print(len(matching_keys))

0

In [37]:
matching_column_keys = set(df_data['column_name']).intersection(set(df_stats['column_name']))
print(len(matching_column_keys))

2038